@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Unbounded&display=swap');

:root {
    --primary: hsla(249, 92%, 46%, 0.65);
    --secondary: hsla(0, 86%, 64%, 0.65);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color:azure;
    line-height: 1.7;
    font-size: 18px;
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
                url('../images/pexels-cottonbro-studio-10506091.jpg') no-repeat center center / cover;
    
    overflow: hidden;
    display: flexbox;
    justify-content: center;
    margin: auto;
    height: 1400px;
    
    
}

header {
    grid-column: 1/5;

}

h1 {
    font-family: unbounded, cursive;
    color:rgb(239, 244, 244);
    font-size: 50px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.choice-area {
    height: auto;
    width: 500px;
    border: 3px solid rgb(248, 245, 38);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
}

.main-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
} 

.left-panel {
    height: min-content;
    width: 500px;
    border: 3px solid rgb(244, 248, 39);
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.right-panel {
    height: min-content;
    width: 500px;
    border: 3px solid rgb(241, 248, 37);
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

div > img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
  }

  footer {
    display: flex;
    justify-content: center;
    color:beige;
  }

  footer h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  @media screen and (max-width: 768px) {
     .main-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
  }